:root {
  /* Zmienne kolorów (Light default) */
  --color-bg: rgba(255, 255, 255, 0.87);
  --color-text: #242424;
  --color-header-bg: #fff; /* Potrzebne do headera */

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
[data-theme="dark"] {
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-header-bg: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg); /* Jawne użycie zmiennej */
  color: var(--color-text);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
